/* Sections */
body {
    min-width: 320px;
}

// general

.bg-size-cover {
    background-size: cover;
    background-position: center;
}

.bg-general {
    background-color: $general;
}

.btn--flex-clear {
    align-self: start;
}

.banner__block {
    position: relative;
    overflow: hidden;
    margin-top: -($top-set-space-mbl);

    @include media-breakpoint-up(lg) {
        margin-top: -($top-set-space-dsk);
    }
}

.banner__color-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(#373A3F, .45);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.min-height-auto {
    min-height: auto !important;
}


.section {
    position: relative;
    width: 100%;
    padding: 4rem 0;
    color: inherit;
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;

    &.bg-pos--top-center {
        background-position: top center;
    }

    &.section--sm {
        padding: 3rem 0;
    }

    &.section--lg {
        padding: 6rem 0;
    }

    @include media-breakpoint-down(md) {
        padding: 2.5rem 0;

        &.section--sm {
            padding: 2rem 0;
        }

        &.section--lg {
            padding: 4rem 0;
        }
    }
}

a.card__link {
    text-decoration: none;
}

a.card__link > .item > .card,
a.card__link > .card {
    position: relative;
    top: 0;
    transition: all ease 0.5s;
}

a.card__link:hover {
    & > .card,
    & > .item > .card {
        top: -10px;
        box-shadow: 0 1rem 1rem rgba(0, 0, 0, .2);
    }
}


.card {
    border: 0px;
    box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    color: $headings-color;
    margin-bottom: $spacer*1.5;
    font-weight: 300;

    @include media-breakpoint-down(sm) {
        margin-bottom: $spacer;
    }

    .btn {
        min-width: 223px;
    }

    .card-body {
        padding: $spacer;
        display: flex;
        flex-direction: column;

        @include media-breakpoint-up(sm) {
            padding: $spacer*1.666666667;
        }

        @include media-breakpoint-down(sm) {
            min-height: 450px;
        }

    }

    .card-title {
        @extend h2;
        color: inherit;
        margin-bottom: $spacer/2.5;

        @include media-breakpoint-down(sm) {
            font-size: 1.3rem;
        }
    }

    p {
        margin-bottom: $spacer;
        color: $grey;
    }
}

.card-set--blue {
    .card {
        background-color: #829EAF;
        color: white;
    }

    p {
        color: inherit;
    }

    .card-body {
        @include media-breakpoint-down(sm) {
            min-height: 0;
        }
    }
}

.card-set--blog {
    .card {
        background-color: $soft;
        box-shadow: none;
    }
}

.card-set--img-bg {

    .card {
        background: $headings-color url('../images/frontpage-learnmore.jpg') no-repeat center;
        background-size: cover;
        box-shadow: none;
        color: white;
    }

    .card-title,
    .card-text {
        max-width: 552px;
    }

    .card-text {
        color: inherit;
    }
}


// gutenberg styling

.alignfull {
    margin-left: calc(-100vw / 2 + 100% / 2);
    margin-right: calc(-100vw / 2 + 100% / 2);
    max-width: 100vw;
    margin-bottom: 0;
}

// blog

.page-link.current {
    z-index: 1;
    color: #fff;
    background-color: $primary;
    border-color: $primary;
}

.page-link:focus,
.page-link:active {
    box-shadow: none;
    color: #fff;
    background-color: #829EAF;
    border-color: #829EAF;
}

.blog-title {
    @include media-breakpoint-down(md) {
        font-size: 1.5rem;
    }
}

.next.page-link,
.prev.page-link {
    @include media-breakpoint-down(sm) {
        span {
            display: none;
        }
    }
}

.wp-block-separator {
    margin-bottom: $spacer;
    border-top: 1px solid #F4F4F4;;
}

.blog__hr {
    border-top: 1px solid #F4F4F4;;
}

article {
    &:last-of-type {
        .blog__hr {
            display: none;
        }
    }
}

.posted-on {
    display: block;
    margin-bottom: $spacer/2;
}


// contact page

.location__info {

    @include media-breakpoint-up(xl) {
        font-size: 0.818181818rem;
    }

    td {
        vertical-align: top;

        @include media-breakpoint-down(sm) {
            width: 100%;
            display: block;
        }
    }

    .location__info--td {

        @include media-breakpoint-up(xs) {
            width: 32%;
        }
    }

    .location__info--blanks {

        @include media-breakpoint-down(md) {
            height: 0;
        }
    }
}

.location__info--repeater-col {
    border-radius: 4px;

    //@include media-breakpoint-down(sm) {
    //    &:not(:first-of-type) {
    //        .location__info--header {
    //            border-top: 1px solid rgba($body-color, .25);
    //            margin-top: $spacer;
    //            padding-top: $spacer;
    //        }
    //    }
    //}
    //@include media-breakpoint-up(lg) {
    //    &:not(:first-of-type) {
    //        .location__info--header {
    //            border-top: 1px solid rgba($body-color, .25);
    //            margin-top: $spacer;
    //            padding-top: $spacer;
    //        }
    //    }
    //}
}

// spa page

.spa__experience--sand {
    background: transparent url('../images/spa-sand.jpg') no-repeat left center;

    overflow: hidden;
}

.spa__experience {

    p {

        @include media-breakpoint-up(xxl) {
            font-size: 0.818181818rem;
        }
    }
}

.spa__experience--header {

    @include media-breakpoint-down(sm) {
        font-size: 2rem;
    }

    @include media-breakpoint-up(lg) {
        max-width: 270px;
    }
    @include media-breakpoint-up(xxl) {
        max-width: 350px;
    }
}

.spa__experience--list {
    font-size: 0.909090909rem;
    font-weight: 700;

    .list-inline-item {


        &:first-child {
            span {
                display: none;
            }
        }

        span {
            margin-left: $spacer*.025;
            margin-right: $spacer*.25;
        }
    }
}

.spa__experience--footer-content {

    z-index: 9999;
    position: relative;

    max-width: 672px;

    @include media-breakpoint-up(xxl) {
        max-width: 544px;
    }
}

.spa__experience--fx {
    position: absolute;
    z-index: 999;
    top: 0;
    height: 100%;
    background-color: transparent;
}

.spa__experience--trans {
    right: 0;
}

.spa__experience--corner {
    left: 0;
}

// about - team

.team-member__block-section {
    clear: both;

    &:not(:last-of-type) {
        @include media-breakpoint-up(md) {
            border-bottom: 1px solid #F4F4F4;

            img {
                border: 1px solid rgba(#ccc, .25);
            }
        }
    }
}


// cards slider decorative

.slider__decorative {
    background-color: red;
    background: url('../images/left-slide-graphic.svg') no-repeat -14% 63%, url('../images/right-slide-graphic.svg') no-repeat 114% 63%;

    @include media-breakpoint-down(xl) {
        background-size: 40%;
    }
    @include media-breakpoint-down(md) {
        background-position-x: -22%, 122%;
    }
    @include media-breakpoint-down(sm) {
        background-position-x: -340%, 445%;
        background-position-y: 76%;
        background-size: 88%;
    }
    @include media-breakpoint-down(xs) {
        background-position-y: 72%;
    }
}

.gfield_radio {
    display: flex;

    .gchoice_1_8_0 {
        margin-right: $spacer/2 !important;
    }
}

// ping me pong

.pingmepong {
    margin-bottom: $spacer*1.5;

    @include media-breakpoint-up(xl) {
        margin-bottom: $spacer*2;
    }

}

.sproing-spa .js-ping-instance {

    margin-bottom: $spacer*1.5;

    @include media-breakpoint-up(xl) {
        margin-bottom: 0;
    }
}

img {
    image-rendering: optimize-contrast;
}

.img-full {
    width: 100%;
}

.section {
    position: relative;
    width: 100%;
    padding: 0;
    color: inherit;
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.img-highlight {
    height: 50%;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.bottom-images {
    overflow: hidden;
}

.full-image--bg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

    @include media-breakpoint-down(md) {
        min-height: 600px;
        position: relative;
    }
}

.left-image--bg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @include media-breakpoint-up(lg) {
        position: absolute;
        left: 0;
        right: 55%;
        bottom: 0;
        top: 0;
    }

    @include media-breakpoint-down(md) {
        margin-bottom: 4rem;
        margin-top: -4rem;
        min-height: 600px;
    }
}

.right-image--bg {
    background-position: left center;
    background-size: cover;
    background-repeat: no-repeat;

    @include media-breakpoint-up(lg) {
        position: absolute;
        right: 0;
        left: 60%;
        bottom: 0;
        top: 0;
    }

    @include media-breakpoint-down(md) {
        min-height: 600px;
    }
}

.right-image--bg-full {
    @include media-breakpoint-up(lg) {
        left: 50%;
    }
}

.left-image--bg-full {
    @include media-breakpoint-up(lg) {
        right: 50%;
    }
}

.right-images {
    @include media-breakpoint-up(lg) {
        position: absolute;
        right: 0;
        left: 50%;
        bottom: auto;
        top: 0;
    }

    @media (max-width: 1560px) {
        bottom: 0;

        .img-highlight img {
            display: none;
        }
    }

    @include media-breakpoint-down(md) {
        margin-top: 3rem;

        .img-highlight img {
            display: block;
        }
    }
}

// forms

.gform_wrapper label.gfield_label,
.gform_wrapper legend.gfield_label {
    margin-bottom: 0 !important;
    font-weight: 300 !important;
}

.gform_wrapper .validation_message {
    font-weight: 300 !important;
}

.gform_wrapper li.gfield.gfield_error, .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
    background-color: #fff !important;
    border-top-width: 0 !important;
    border-bottom-width: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

@media only screen and (max-width: 761px), (max-device-width: 1023px) and (min-device-width: 768px) {
    .gform_wrapper ul.gform_fields li.gfield.gfield_error + li.gfield.gfield_error {
        margin-top: 6px !important;
    }
}

.gform_wrapper .instruction {
    padding-left: $form-input-padding;
}

body #gform_wrapper_1 .gform_heading .gform_title {
    padding: $form-input-padding;
}


body #gform_wrapper_1 .gform_footer input[type=submit] {
    border-style: solid;
    font-weight: bold;
    color: #ffffff;
    background-color: #9eb8c8;
    border-radius: $form-border-radius;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-width: 0px;
}

body #gform_wrapper_1 .gform_page_footer input[type=submit], body #gform_wrapper_1 .gform_page_footer input[type=button] {
    border-style: solid;
    font-weight: bold;
    color: #ffffff;
    background-color: #9eb8c8;
    border-radius: $form-border-radius;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-width: 0px;
}

body #gform_wrapper_1 .gform_page_footer input[type=submit]:hover {
    border-style: solid;
    color: #ffffff;
}

body #gform_wrapper_1 .gform_footer input[type=submit]:hover {
    border-style: solid;
    color: #ffffff;
}

body #gform_wrapper_1 .gform_footer button.mdc-button {
    font-weight: bold;
    color: #ffffff;
    background-color: #9eb8c8;
    border-radius: $form-border-radius;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-width: 0px;
}

body #gform_wrapper_1 .gform_footer button.mdc-button:hover {
    color: #ffffff;
}

body #gform_wrapper_1 .gform_body .gform_fields .gfield input[type=text],
body #gform_wrapper_1 .gform_body .gform_fields .gfield input[type=email],
body #gform_wrapper_1 .gform_body .gform_fields .gfield input[type=tel],
body #gform_wrapper_1 .gform_body .gform_fields .gfield input[type=url],
body #gform_wrapper_1 .gform_body .gform_fields .gfield input[type=password] {
    color: #6a6a6a;
    font-size: 1rem;
    border-width: 1px;
    border-color: #8b8b8b;
    border-style: solid;
    padding: $form-input-padding;
    max-width: 100%;
    border-radius: $form-border-radius;
}


body #gform_wrapper_1 .gform_body .gform_fields .gfield textarea {
    padding: $form-input-padding;
    border-width: 1px;
    border-radius: $form-border-radius;
    border-color: #8b8b8b;
    font-size: 1rem;
    color: #6a6a6a;
}

body #gform_wrapper_1 .gform_body .gform_fields .gfield .gfield_label {
    color: #6a6a6a;
    font-size: 16px;
}

body #gform_wrapper_1 .gform_body .gform_fields .gfield .gfield_description {
    margin-top: .25rem;
    font-size: 80%;
    padding-left: 10px;
    padding-top: 0px;
}

body #gform_wrapper_1 .gform_body .gform_fields .gsection {
}

body #gform_confirmation_message_1 {
    font-weight: bold;
    background-color: #7cc13c;
    text-align: center;
    font-size: 18px;
    padding-left: 27px;
    padding-right: 27px;
    padding-top: 27px;
    padding-bottom: 27px;
    border-width: 1px;
}

body #gform_wrapper_1 .validation_error {
    font-weight: 300;
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: $form-border-radius;
    color: $form-red;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

body #gform_wrapper_1 .gform_body .gform_page_footer .gform_next_button {
    border-style: solid;
    background: #9eb8c8;
    color: #ffffff;
    border-radius: $form-border-radius;
}

body #gform_wrapper_1 .gform_body .gform_page_footer .gform_next_button:hover {
    color: #ffffff;
}

body #gform_wrapper_1 .gform_body .gform_page_footer .gform_previous_button {
    background: #9eb8c8;
    color: #ffffff;
    border-radius: $form-border-radius;
}

body #gform_wrapper_1 .gform_body .gform_page_footer .gform_previous_button:hover {
    color: #ffffff;
}

body #gform_wrapper_1 .gform_body .gform_page_footer .gform_button {
    background: #9eb8c8;
    color: #ffffff;
    border-radius: $form-border-radius;
}

body #gform_wrapper_1 .gform_body .gform_page_footer .gform_button:hover {
    color: #ffffff;
}

@include media-breakpoint-down(md) {
    body #gform_wrapper_1 .gform_body .gform_fields .gfield input[type=text],
    body #gform_wrapper_1 .gform_body .gform_fields .gfield input[type=email],
    body #gform_wrapper_1 .gform_body .gform_fields .gfield input[type=tel],
    body #gform_wrapper_1 .gform_body .gform_fields .gfield input[type=url],
    body #gform_wrapper_1 .gform_body .gform_fields .gfield input[type=password] {
        font-size: 1rem;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    body #gform_wrapper_1 .gform_body .gform_fields .gfield .gfield_label {
        font-size: .8rem;
    }

    body #gform_wrapper_1 .gform_body .gform_fields .gfield .gfield_description {
        font-size: 80%;
        color: #dc3545;
    }

    body #gform_confirmation_message_1 {
        font-size: 1rem;
    }

    body #gform_wrapper_1 .validation_error {
        font-size: 1rem;
    }

}

// ios

body #gform_wrapper_1 .gform_body .gform_fields .gfield_error .validation_message {
    font-size: 80%;
    margin-top: .25rem;
    color: #790000;
}

textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

body #gform_wrapper_1 .gform_body .gform_fields .gfield select,
select {
    outline: none;
    color: #6a6a6a;
    font-size: 1rem;
    border-width: 1px;
    border-color: #8b8b8b;
    border-style: solid;
    background: white;
    max-width: 100%;
    border-radius: 4px;
    border-radius: $form-border-radius;
    padding: $form-input-padding;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; /* Remove default arrow */
    background: url('../images/select-arrow.svg') no-repeat 97% 52%;
    background-size: 0.7rem;

    @media (max-width: 374.98px) {
        background: url('../images/select-arrow.svg') no-repeat 92% 52%;
        background-size: 0.65rem;
    }


}

body #gform_wrapper_1 .gfield_error input,
body #gform_wrapper_1 .gfield_error textarea {
    border: 1px solid $form-red !important;
    background-color: rgba(#f8d7da,.35);
}