/* Sections */
body {
    min-width: 320px;
}

// general

.bg-size-cover {
    background-size: cover;
    background-position: center;
}

.bg-general {
    background-color: $general;
}

.btn--flex-clear {
    align-self: start;
}

.banner__block {
    position: relative;
    overflow: hidden;
}

.banner__color-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, .60);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


.section {
    position: relative;
    width: 100%;
    padding: 4rem 0;
    color: inherit;
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;

    &.bg-pos--top-center {
        background-position: top center;
    }

    &.section--sm {
        padding: 3rem 0;
    }

    &.section--lg {
        padding: 6rem 0;
    }

    @include media-breakpoint-down(md) {
        padding: 2.5rem 0;

        &.section--sm {
            padding: 2rem 0;
        }

        &.section--lg {
            padding: 4rem 0;
        }
    }
}

.card {
    border: 0px;
    box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    color: $headings-color;
    margin-bottom: $spacer*1.5;

    .btn {
        min-width: 223px;
    }

    .card-body {
        padding: $spacer*1.25;
        display: flex;
        flex-direction: column;
    }

    .card-title {
        @extend h3;
        color: inherit;
        margin-bottom: $spacer/2.5;
    }

    p {
        font-size: 0.818181818rem;
        line-height: 1.444444444;
        margin-bottom: $spacer;
        color: $grey;
    }
}

.card-set--blue {
    .card {
        background-color: $primary;
        color: white;
    }

    p {
        color: inherit;
    }
}

.card-set--blog {
    .card {
        background-color: $soft;
        box-shadow: none;
    }
}

.card-set--img-bg {

    .card {
        background: $headings-color url('../images/frontpage-learnmore.jpg') no-repeat center;
        background-size: cover;
        box-shadow: none;
        color: white;
    }

    .card-title,
    .card-text {
        max-width: 552px;
    }

    .card-text {
        color: inherit;
    }
}


// gutenberg styling

.alignfull {
    margin-left: calc(-100vw / 2 + 100% / 2);
    margin-right: calc(-100vw / 2 + 100% / 2);
    max-width: 100vw;
    margin-bottom: 0;
}

// blog

.blog__hr {
    border-top: 1px dashed $secondary;
}

article {
    &:last-of-type {
        .blog__hr {
            display: none;
        }
    }
}

.posted-on {
    display: block;
    margin-bottom: $spacer/2;
}


// contact page

.location__info {

    @include media-breakpoint-up(xl) {
        font-size: 0.818181818rem;
    }

    td {
        vertical-align: top;

        @include media-breakpoint-down(sm) {
            width: 100%;
            display: block;
        }
    }

    .location__info--td {

        @include media-breakpoint-up(xs) {
            width: 32%;
        }
    }

    .location__info--blanks {

        @include media-breakpoint-down(md) {
            height: 0;
        }
    }
}

.location__info--repeater-col {

    @include media-breakpoint-down(sm) {
        &:not(:first-of-type) {
            .location__info--header {
                border-top: 1px solid rgba($body-color, .25);
                margin-top: $spacer;
                padding-top: $spacer;
            }
        }
    }
    @include media-breakpoint-up(lg) {
        &:not(:first-of-type) {
            .location__info--header {
                border-top: 1px solid rgba($body-color, .25);
                margin-top: $spacer;
                padding-top: $spacer;
            }
        }
    }
}

// spa page

.spa__experience--sand {
    background: transparent url('../images/spa-sand.jpg') no-repeat left center;

    overflow: hidden;
}

.spa__experience {

    p {

        @include media-breakpoint-up(xxl) {
            font-size: 0.818181818rem;
        }
    }
}

.spa__experience--header {

    @include media-breakpoint-down(sm) {
        font-size: 2rem;
    }

    @include media-breakpoint-up(lg) {
        max-width: 270px;
    }
    @include media-breakpoint-up(xxl) {
        max-width: 350px;
    }
}

.spa__experience--list {
    font-size: 0.909090909rem;
    font-weight: 700;

    .list-inline-item {


        &:first-child {
            span {
                display: none;
            }
        }

        span {
            margin-left: $spacer*.025;
            margin-right: $spacer*.25;
        }
    }
}

.spa__experience--footer-content {

    z-index: 9999;
    position: relative;

    max-width: 672px;

    @include media-breakpoint-up(xxl) {
        max-width: 544px;
    }
}

.spa__experience--fx {
    position: absolute;
    z-index: 999;
    top: 0;
    height: 100%;
    background-color: transparent;
}

.spa__experience--trans {
    right: 0;
}

.spa__experience--corner {
    left: 0;
}


// cards slider decorative

.slider__decorative {
    background-color: red;
    background: url('../images/left-slide-graphic.svg') no-repeat -14% 63%, url('../images/right-slide-graphic.svg') no-repeat 114% 63%;

    @include media-breakpoint-down(xl) {
        background-size: 40%;
    }
    @include media-breakpoint-down(md) {
        background-position-x: -22%, 122%;
    }
    @include media-breakpoint-down(sm) {
        background: none;
    }
}

