
.footer__bdr-top {
    border-top: 1px solid #F4F4F4;
}

footer {
    color: white;
    p {
        color: white;
    }
}

.footer-nav {
    .menu-item {
        &:first-of-type {
            .nav-link {
                padding-left: 0;
            }
        }
    }
}