
.footer__bdr-top {
    border-top: 1px solid #F4F4F4;
}

footer {
    color: white;
    p {
        color: white;
    }
}

.footer-nav {
    .menu-item {
        .nav-link {
            color: rgba(#373A3F,.65);
            font-size: 0.954545455rem;
            padding: 12px 1.227272727rem 6px;
        }
        &:first-of-type {
            .nav-link {
                padding-left: 0;
            }
        }
    }
}