.hero-nav-overlay {

    margin-bottom: $top-set-space;


    .navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
        color: $active;
    }

    .header-box {

        @include media-breakpoint-down(sm) {
            border-bottom: 4px solid $quaternary;
        }

        .container {
            padding: 0 $spacer;

            @include media-breakpoint-up(xxl) {
                height: $spacer*5;
            }

        }

    }

    .navbar-nav {
        padding: 0;
    }

    .navbar-dark .navbar-toggler {
        background: $white;
        outline: none;

        .fa-bars {
            color: $body-color;
            font-size: 110%;
            line-height: 1.2;
        }
    }

    .nav-logo img {
        width: 575px;
        height: auto;
    }

    .navbar-expand-lg > .container {
        padding: 0 1.25rem;
    }

    .navbar-nav .nav-link {
        color: $white;
        font-weight: 400;
        font-size: 1rem;

        @include media-breakpoint-up(md) {
            font-weight: 700;
            font-size: 0.944444444rem;
        }

        @include media-breakpoint-up(xl) {
            font-size: 1.166666667rem;
        }
    }

    .dropdown-toggle {
        display: flex;
    }

    .dropdown-toggle::after {
        display: block;
        border: none;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f078";
        width: auto;
        height: 15px;
        margin-top: 1px;
    }

    @include media-breakpoint-up(md) {
        .navbar-nav .menu-item.show > .nav-link {
            background: $white;
            color: $body-color;
        }

        li.active > .nav-link {
            background: #ACB781;
        }

        .navbar-nav .nav-link {
            padding: 16.5px 20px;

            &:hover,
            &:active {
                background: #ACB781;
            }
        }

        .dropdown {

            &:hover,
            &:active {
                color: inherit;
                background: #ACB781;
            }
        }


        .dropdown > .dropdown-menu {
            top: 200%;
            transition: 2s all ease-in-out;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            padding-top: 8px;
            padding-bottom: 8px;

            .nav-link {
                &:hover,
                &:active {
                    color: inherit;
                    background: rgba(#8B8B8B, .15);
                }
            }
        }

        .dropdown:hover > .dropdown-menu {
            display: block;
            top: 100%;
        }

        .dropdown > .dropdown-toggle:active {
            /*Without this, clicking will make it sticky*/
            pointer-events: none;
        }

        .dropdown-menu {
            box-shadow: 0px 4px 16px -9px rgba(0, 0, 0, 0.35);
            border-radius: 0;
            border: none;
            right: auto;
            left: 0;
            margin: 0;
            background: $white;
            width: 260%;

            & > .menu-item {
                color: #6A6A6A;
            }

            & > .menu-item > .nav-link {
                padding: 8px $spacer*.75;
                font-family: $font-family-sans-serif;
                color: #6A6A6A;
                font-size: 1.0625rem;
                font-weight: 400;
            }

            & > .menu-item.active > .nav-link {
                color: white;
                &:hover {
                    cursor: default;
                    color: white;
                    background: #ACB781;
                }
            }
            & > .menu-item > .nav-link.clickaroo {color: inherit;}
        }
    }

    @include media-breakpoint-up(lg) {
        .navbar-nav .nav-link {
            padding: 16.5px 25px;
        }
    }

    @include media-breakpoint-up(xxl) {
        .dropdown > .dropdown-menu {
            .nav-link {
                font-size: 0.772727273rem;
            }
        }
    }

    @include media-breakpoint-down(sm) {
        padding: 0;

        .dropdown-toggle::after {
            display: none;
        }

        .nav-logo img {
            width: 300px;
            height: auto;
        }

        .dropdown-menu {
            display: block;
            border-radius: 0;
            width: 100%;
            background: transparent;
            border: none;
            border-left: 2px solid rgba(white, .25);
            margin: 0;
            padding: 0 0 0 .75rem;

            & > .menu-item > .nav-link {
                font-size: .9rem;
                padding-top: .5rem;
                padding-bottom: .5rem;
            }
        }
    }
}

.mainnav-m {
    @include media-breakpoint-up(md) {
        display: none;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

.sproing-navbar-navmob {
    padding-top: .75rem;
    padding-bottom: 1rem;
}

.social-link {
    cursor: pointer;
    vertical-align: -webkit-baseline-middle;
}