button, .btn {
    cursor: pointer;
    &:focus {
        outline: none;
    }
}

.btn {
    color: white;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.35;
    padding: 0.727272727rem $spacer;
    font-size: 0.909090909rem;
}

.btn-xs-block {
    @include media-breakpoint-down(xs) {
        width: 100%;
        display: block;
    }
}

.btn-inline {
    color: inherit;
    padding: 0;
    min-width: none;
}

.btn-light {
    background-color: #fff;
    color: $headings-color;
}