button, .btn {
    cursor: pointer;
    white-space: normal;
    &:focus {
        outline: none;
    }
}

.btn {
    color: white;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.35;
    padding: 0.727272727rem $spacer;
    font-size: 0.909090909rem;

    &:hover,
    &:active {
        color: $active;
    }
}

.banner__block {
    .btn {
        padding: 0.727272727rem $spacer*1.35;
    }
}

.btn-xs-block {
    @include media-breakpoint-down(xs) {
        width: 100%;
        display: block;
    }
}
/* Gutenberg frontend display styles for buttons */
.wp-block-button__link {
    @extend .btn;
    background-color: $primary;
}

.card .btn-inline,
.btn-inline {
    line-height: 1;
    color: inherit;
    padding: 0;
    min-width: auto;
    padding: 0;
    color: $body-color;
    align-self: start;
}
.card-set--blue {
    .card .btn-inline,
    .btn-inline {
        color: white;
    }
}

.btn-light {
    background-color: #fff;
    color: $headings-color;
    align-self: start;
}

.btn.js-btn-video {
    background-color: $secondary;
    padding: 0.727272727rem $spacer*2.2 0.727272727rem $spacer;
}
.play-btn-text {
    &::after {
        content: '';
        width: $spacer*1.266666667;
        height: $spacer*1.266666667;
        background-image: url('../images/play-circle-regular.svg');
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        margin-top: -4px;
        margin-left: 6px;
    }
}

.btn.js-btn-video {
    &:hover,
    &:active {
        .play-btn-text {
            &::after {
                background-image: url('../images/play-circle-regular-active.svg');
            }
        }
    }
}