// Responsive font sizing
html {
    font-size: 16px;
    line-height: 1.454545455;
}

// Sets font size to 16px on form elements to prevent input zoom on mobile devices
@include media-breakpoint-down(sm) {
    .form-control {
        font-size: $font-size-base * 1.075;
    }
}

@include media-breakpoint-up(xxl) {
    html {
        font-size: 22px;
    }
}

// Global

body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-family: $font-family-base;
    -webkit-overflow-scrolling: touch;
    line-height: 1.4;
}

.small, small {
    font-size: 0.727272727rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: $spacer;
}

.h1, h1 {
    font-size: 2.272727273rem;
    line-height: 1.2;
    font-weight: 300;
}

.h2, h2 {
    font-size: 1.636363636rem;
    line-height: 1.277777778;
    font-weight: 300;
}

.h3, h3 {
    font-size: 1.5rem;
    line-height: 1.272727273;
    font-weight: 400;
}
p {
    margin-bottom: $spacer;
}


.spaced-list {
    padding: 0 0 0 22px;
}

.spaced-list li {
    margin-bottom: .5rem;
}

.lead {
    font-size: 1.272727273rem;
    line-height: 1.642857143;
}

.lead strong {
    font-weight: 700;
}

.text-md {
    font-size: 90%;
}

.list-unstyled li {
    padding-bottom: .25rem;

    &:last-of-type {
        padding-bottom: 0;
    }
}

.list-unstyled {
    margin-bottom: 1rem;
}